@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --blue-200: #E3EBFD;
  --blue-400: #4F7DF3;
  --blue-500: #4475F2;
  --blue-600: #4475F2;
  --blue-700: #4737FF;
  --blue-900: #18191F;  

  --gray-200: #EEEFF4;
  --gray-300: #D9DBE1;
  --gray-400: #969BAB;
  --gray-600: #5E6282;

  --blue-sky: #23A6F0;
}

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
  max-width: 100vw;
}

.header{
  z-index: 9999;
}

.container{
  width: 100%;
}

nav:nth-child(1){
  display: grid;
  gap: .6rem;
  align-items: center;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 1rem 5%;
  border-bottom: .1rem solid var(--gray-200);
}

.header__icon{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  grid-column: span 2 / span 2;
}

.header__icon img{
  width: 2.3rem;
}

.header__icon h3{
  font-size: 1.5rem;
  color: var(--blue-900);
}

.header__form{
  grid-column: span 6 / span 6;
  position: relative;
}

.header__form i{
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  color: var(--gray-400);
}

.header__form input{
  width: 100%;
  color: var(--gray-400);
  background-color: var(--gray-200);
  padding: 1.1rem 2rem 1.1rem 3rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.header__form input::placeholder{
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header__language{
  grid-column: span 2 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--gray-400);
  font-size: 1rem;
  cursor: pointer;
}

.header__language i:nth-child(2){
  font-size: .9rem;
}

.header__location{
  grid-column: span 2 / span 2;
  display: flex;
  align-items: center;
  column-gap: .8rem;
  justify-content: center;
  cursor: pointer;
}

.header__location span{
  background-color: var(--blue-200);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.header__location i{
  padding: .8rem;
  color: var(--blue-500);
}

.header__location .header__location_content{
  display: flex;
  flex-direction: column;
}

.header__location .header__location_content div{
  display: flex;
  align-items: center;
}

.header__location .header__location_content p:nth-child(1){
  color: var(--gray-400);
  /* margin-bottom: -1.2rem; */
}

.header__location .header__location_content p:nth-child(2){
  color: var(--blue-700);
  font-weight: 600;
}

nav:nth-child(1) #hamburgerMenu{
  display: none;
}

nav:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 5%;
  width: 100%;
}

nav:nth-child(2) ul{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

nav:nth-child(2) ul li a{
  color: var(--gray-400);
  display: flex;
  align-items: center;
  column-gap: .8rem;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

nav:nth-child(2) ul li a:hover{
  color: var(--blue-900);
}

nav:nth-child(2) .header__container-shopping_profile{
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav:nth-child(2) .header__container-shopping{
  color: white;
  font-size: 1.1rem;
  background-color: var(--blue-600);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
} 

nav:nth-child(2) .header__container-profile{
  color: var(--blue-500);
  font-size: 1.1rem;
  background-color: var(--blue-200);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

main {
  padding: 0 5%;
  margin: 2rem 0;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.hero__content_text .hero__tagline {
  margin-bottom: 1rem;
  color: var(--blue-700);
  background-color: var(--blue-200);
  width: fit-content;
  padding: .5rem 1rem;
  font-weight: 700;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.hero__content_text h1 {
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1;
}

.hero__content_text h1 span{
  color: var(--blue-700);
}

.hero__content_text .hero__desc {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--gray-600);
}

.hero__content_text .hero__cta{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.hero__content_text .hero__cta a:nth-child(1){
  padding: 1rem 2rem;
  background-color: var(--blue-600);
  color: white;
  display: block;
  font-weight: 600;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.hero__content_text .hero__cta a:nth-child(1) i{
  margin-left: .2rem;
}

.hero__content_text .hero__cta a:nth-child(2){
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--gray-600);
  font-weight: 700;
}

.hero__content_text .hero__cta a:nth-child(2) span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--blue-600);
  padding: .5rem;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  box-shadow: 0px 20px 59px -1px rgba(79, 125, 243, 1);
  -webkit-box-shadow: 0px 20px 59px -1px rgba(79, 125, 243, 1);
  -moz-box-shadow: 0px 20px 59px -1px rgba(79, 125, 243, 1);
}

.hero__content_text .hero__cta a:nth-child(2) span i{
  color: var(--blue-700);
}

.hero__image {
  width: 30rem;
}

/* LOGO PARTNERS */
#logoPartners{
  margin: 2rem 0;
}

.partners__logo_container{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.partners__logo_container .partners__logo{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 1rem;
  column-gap: 3rem;
}

.partners__logo_container .partners__logo img{
  width: 11rem;
  mix-blend-mode: multiply;
}

@keyframes infinite-scroll {
  from{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  } to{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

.header__destinations p{
  color: var(--blue-600);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header__destinations a{
  font-weight: 600;
  color: var(--blue-600);
  display: flex;
  align-items: center;
  column-gap: .8rem;
  font-size: 1rem;
}

.header__destinations .header__title_destinations{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__destinations .header__title_destinations h2{
  font-size: 2.5rem;
  color: var(--blue-900);
}

.header__destinations h2 span{
  font-size: 1.8rem;
}

.destinations__container_content{
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.destination__content{
  position: relative;
}

.destination__content img{
  width: 17rem;
  height: 25rem;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.destination__content .destination__content_desc{
  display: flex;
  flex-direction: column;
  row-gap: .4rem;
  padding: 1rem 1.8rem 1rem 1.5rem;
  position: absolute;
  bottom: .21875rem;
  background: rgba(255, 255, 255, 0.6);
  border-top-right-radius: .5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.destination__content .destination__content_desc h3{
  color: var(--blue-900);
}

.destination__content .destination__content_desc p{
  color: var(--gray-600);
}

/* RESERVATION */
#reservation{
  margin-top: 4rem;
}

.reservation__container{
  display: flex;
  gap: 14rem;
}

.header__reservation p{
  color: var(--blue-600);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header__reservation h2{
  font-size: 3rem;
  margin-top: .6rem;
}

.reservation__container_desc{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reservation__container_desc .reservation__desc-content{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reservation__container_desc .reservation__desc-content span{
  padding: 1rem;
  background-color: #EFE0B4;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
}

.reservation__container_desc .reservation__desc-content div{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.reservation__container_desc .reservation__desc-content h6{
  font-size: 1.2rem;
  color: var(--gray-600);
}

.reservation__container_desc .reservation__desc-content p{
  font-size: .9rem;
  color: var(--gray-400);
}

.reservation__container_card {
  position: relative;
}

.reservation__card{
  margin-top: 3rem;
  padding: 1.2rem;
  border-radius: 24px;
  box-shadow: 29px -19px 100px -42px rgba(68, 117, 242, 1);
  -webkit-box-shadow: 29px -19px 100px -42px rgba(68, 117, 242, 1);
  -moz-box-shadow: 29px -19px 100px -42px rgba(68, 117, 242, 1);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.reservation__card figure img{
  width: 22rem;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.reservation__card figcaption{
  margin-top: .6rem;
  color: var(--blue-900);
  font-weight: 700;
  font-size: 1.2rem;
}

.reservation__card p{
  margin-top: .3rem;
  color: var(--gray-400);
  font-weight: 500;
  font-size: .8rem;
}

.reservation__card .reservation__card_icon{
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  color: var(--gray-400);
}

.reservation__card .reservation__card_icon span{
  padding: 1rem;
  background-color: var(--gray-200);
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.reservation__card .reservation__card-footer{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation__card .reservation__card-footer p {
  color: var(--gray-400);
  font-weight: 500;
  font-size: .8rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.reservation__card .reservation__card-footer span i{
  color: var(--blue-700);
  font-size: 1.2rem;
}

.reservation__floating_card{
  position: absolute;
  padding: 1rem 2rem 1rem 1rem;
  bottom: 2.6rem;
  right: -7rem;
  background-color: white;
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.reservation__floating_card img{
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.reservation__floating_card .reservation__floating_card_content strong{
  color: var(--gray-400);
  margin-bottom: .3rem;
  font-weight: normal;
  font-size: .8rem;
}

.reservation__floating_card .reservation__floating_card_content h4 {
  color: var(--blue-900);
}

.reservation__floating_card .reservation__floating_card_content p {
  margin-top: .4rem;
  font-size: .8rem;
  font-weight: 700;
  color: var(--blue-900);
}

.reservation__floating_card .reservation__floating_card_content p span{
  color: var(--blue-700);
}

.reservation__floating_card .reservation__floating_card_content progress{
  height: .4rem;
  overflow: hidden;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.reservation__floating_card
.reservation__floating_card_content progress::-webkit-progress-bar{
  background-color: var(--gray-200);
}

.reservation__floating_card
.reservation__floating_card_content progress::-webkit-progress-value {
  background-color: var(--blue-700);
}

/* TOURIST MAP */
.header__tourist_map{
  margin-top: 5rem;
  margin-inline: auto;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .3rem;
  text-align: center;
  color: var(--blue-900);
}

.header__tourist_map h4{
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--blue-700);
}

.header__tourist_map h2{
  font-size: 2rem;
}

.header__tourist_map h2 span{
  font-size: 1.5rem;
}

#touristMap img{
  margin-top: 2rem;
  margin-inline: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.container__tourist_map__content{
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container__tourist_map__content .container__tourist_map_desc{
  display: flex;
  gap: 1rem;
}

.container__tourist_map__content .container__tourist_map_desc span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--gray-200);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 99999px;
  -webkit-border-radius: 99999px;
  -moz-border-radius: 99999px;
  -ms-border-radius: 99999px;
  -o-border-radius: 99999px;
}

.container__tourist_map__content
.container__tourist_map_desc
.tourist_map__desc{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.container__tourist_map__content
.container__tourist_map_desc
.tourist_map__desc h5{
  font-size: 1.3rem;
  color: var(--blue-900);
}

.container__tourist_map__content
.container__tourist_map_desc
.tourist_map__desc p{
  color: var(--gray-400);
}

/* BLOG */
#blog{
  margin-top: 5rem;
}

.header__blog{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__blog .header__blog-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header__blog .header__blog-container h4{
  color: var(--blue-700);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.header__blog .header__blog-container h2{
  color: var(--blue-900);
  font-size: 2rem;
}

.header__blog .header__blog-container h2 span{
  font-size: 1.5rem;
}

.header__blog a{
  font-weight: 600;
  color: var(--blue-600);
  display: flex;
  align-items: center;
  column-gap: .8rem;
  font-size: 1rem;
}

.blog__gallery{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
}

.blog__gallery .blog__gallery_grid:nth-child(1){
  grid-column: span 3 / span 3;
}

.blog__gallery .blog__gallery_grid:nth-child(1) .blog__gallery_card{
  padding: 0 0 1rem 0;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
}

.blog__gallery .blog__gallery_grid:nth-child(1) .blog__gallery_card img{
  width: 100%;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}

.blog__gallery .blog__gallery_grid:nth-child(1)
.blog__gallery_card div{
  padding: .5rem .8rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.blog__gallery .blog__gallery_grid:nth-child(1)
.blog__gallery_card .blog__gallery_card__date{
  font-size: .8rem;
  color: var(--gray-400);
}

.blog__gallery .blog__gallery_grid:nth-child(1)
.blog__gallery_card .blog__gallery_card__title {
  font-size: .9rem;
}

.blog__gallery .blog__gallery_grid:nth-child(1)
.blog__gallery_card .blog__gallery_card__desc{
  font-size: .8rem;
  color: var(--gray-600);
  font-weight: 600;
}

.blog__gallery .blog__gallery_grid:nth-child(1)
.blog__gallery_card .blog__gallery_card__read_more{
  font-size: .8rem;
  font-weight: 500;
  color: var(--blue-sky);
}

.blog__gallery .blog__gallery_grid:nth-child(2) {
  grid-column: span 9 / span 9;
  background: linear-gradient(to top, rgba(0,0,0,0.7),  rgba(0,0,0,0)), url('../images/bali-reservation.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__gallery .blog__gallery_grid:nth-child(2) span{
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  color: white;
  font-size: 1rem;
  background-color: var(--blue-sky);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.blog__gallery .blog__gallery_grid:nth-child(3) {
  padding: 2rem;
  grid-column: span 12 / span 12;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0)), url('../images/kepulauan-mentawai.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
}

.blog__gallery .blog__gallery_grid:nth-child(3) div {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog__gallery .blog__gallery_grid:nth-child(3) h3{
  font-size: 2rem;
}

.blog__gallery .blog__gallery_grid:nth-child(3) strong {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blog__gallery .blog__gallery_grid:nth-child(3) strong a{
  font-weight: 400;
  color: white;
}

#testimonial{
  margin-top: 5rem;
}

.header__testimonials{
  margin-inline: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .8rem;
}

.header__testimonials h4{
  color: var(--blue-700);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.header__testimonials h2{
  color: var(--blue-900);
  font-size: 2rem;
}

.header__testimonials h2 span{
  font-size: 1.5rem;
}

.header__testimonials p{
  color: var(--gray-400);
}

.container__card_testimonials{
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

.card__testimonial{
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border: 1px solid var(--gray-300);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.card__testimonial img {
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.card__testimonial figcaption{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__testimonial figcaption .card__testimonial_review{
  font-size: .9rem;
  color: var(--gray-600);
}

.card__testimonial figcaption .card__testimonial_star{
  color: orange;
}

.card__testimonial figcaption strong {
  color: var(--blue-sky);
}

.card__testimonial figcaption .card__testimonial_origin{
  color: var(--blue-900);
  font-weight: 600;
}

#faqs {
  margin-top: 5rem;
}

.header__faqs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__faqs .header__faqs-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header__faqs .header__faqs-container h4{
  color: var(--blue-700);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.header__faqs .header__faqs-container h2{
  color: var(--blue-900);
  font-size: 2rem;
}

.header__faqs .header__faqs-container h2 span{
  font-size: 1.5rem;
}

.header__faqs a{
  font-weight: 600;
  color: var(--blue-600);
  display: flex;
  align-items: center;
  column-gap: .8rem;
  font-size: 1rem;
}

.faqs__accordion_container{
  margin-top: 3rem;
  border: 1px solid var(--gray-200);
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.faqs__accordion_container .faq__box{
  cursor: pointer;
  /* padding-bottom: 0; */
  border-bottom: 2px solid var(--gray-400);
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

.faqs__accordion_container .faq__box .faq__question{
  padding: 1rem 1.2rem 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faqs__accordion_container .faq__box
.faq__question .faq__chevron_container{
  padding: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-400);
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.faqs__accordion_container .faq__box.faq__box_active
.faq__question .faq__chevron_container{
  background-color: var(--blue-sky);
  border: none;
}

.faqs__accordion_container .faq__box
.faq__question .faq__chevron_container i{
  font-size: .8rem;
  color: var(--gray-600);
  transition: all .5 ease-in-out;
  -webkit-transition: all .5 ease-in-out;
  -moz-transition: all .5 ease-in-out;
  -ms-transition: all .5 ease-in-out;
  -o-transition: all .5 ease-in-out;
}

.faqs__accordion_container .faq__box .faq__question
.faq__chevron_container i.fa-chevron-down{
  display: none;
}

.faqs__accordion_container .faq__box.faq__box_active
.faq__question .faq__chevron_container i.fa-chevron-right{
  display: none;
}

.faqs__accordion_container .faq__box.faq__box_active
.faq__question .faq__chevron_container i.fa-chevron-down{
  display: inline-block;
  color: white;
}

.faqs__accordion_container .faq__box h6{
  color: var(--blue-900);
  font-weight: 700;
  font-size: 1.2rem;
}

.faqs__accordion_container .faq__box .faq__answer{
  padding: 1rem 1.2rem .5rem 1.2rem;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.9;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.faqs__accordion_container .faq__box.faq__box_active .faq__answer{
  max-height: 500px;
  overflow: visible;
}

#cta{
  margin-top: 5rem;
}

.cta__container{
  background-color: var(--blue-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

.cta__container .cta__content_text{
  padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta__container .cta__content_text h2{
  font-size: 2rem;
}

.cta__container .cta__content_text p{
  color: var(--gray-200);
  font-weight: 300;
}

.cta__container .cta__content_text a{
  color: white;
  display: flex;
  align-items: center;
  gap: .6rem;
  font-weight: 500;
}


@media screen and (max-width: 640px) {
  .header__form, .header__language, .header__location {
    display: none;
  }

  nav:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav:nth-child(1) #hamburgerMenu{
    display: block;
    background-color: transparent;
    font-size: 1.3rem;
  }

  nav:nth-child(2){
    padding: 1rem 5%;
    column-gap: 2rem;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
  }

  nav:nth-child(2)::-webkit-scrollbar{
    display: none;
  }

  nav:nth-child(2) .header__container-shopping_profile{
    display: none;
  }

  /* HERO */
  #hero{
    flex-direction: column-reverse;
  }

  .hero__content_text .hero__tagline{
    font-size: .9rem;
  }

  .hero__content_text h1{
    font-size: 2.4rem;
  }

  .hero__content_text .hero__desc{
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
  }

  .hero__content_text .hero__desc br{
    display: none;
  }

  .hero__content_text .hero__cta{
    gap: 1rem;
  }

  .hero__content_text .hero__cta a:nth-child(1){
    padding: .8rem;
  }

  .hero__content_text .hero__cta a:nth-child(2){
    padding: .1rem;
    column-gap: .8rem;
  }

  .hero__image{
    width: 20rem;
  }

  /* PARTNERS LOGO */
  .partners__logo_container {
    justify-content: normal;
  }

  .partners__logo_container .partners__logo{
    animation: infinite-scroll 5s linear infinite;
    -webkit-animation: infinite-scroll 5s linear infinite;
  }

  /* DESTINATIONS */
  .header__destinations p{
    font-size: 1rem;
  }

  .header__destinations .header__title_destinations{
    align-items: normal;
    flex-direction: column;
    gap: 1rem;
  }

  .header__destinations .header__title_destinations h2{
    font-size: 2rem;
  }

  .destinations__container_content{
    overflow: scroll;
    scrollbar-color: transparent transparent;
  }

  .destinations__container_content::-webkit-scrollbar{
    display: none;
  }

  /* RESERVATION */
  .reservation__container{
    flex-direction: column;
    gap: 1rem;
  }

  .header__reservation p{
    font-size: 1rem;
  }

  .reservation__container_desc .reservation__desc-content p br{
    display: none;
  }

  .header__reservation h2{
    font-size: 2rem;
  }

  .reservation__card figure img{
    width: 100%;
  }

  .reservation__floating_card{
    position: static;
    margin-top: 1rem;
  }

  /* TOURIST MAP */

  .header__tourist_map{
    width: 100%;
  }

  .header__tourist_map h4{
    font-size: .9rem;
  }

  .header__tourist_map p{
    font-size: .9rem;
    color: var(--gray-400);
  }

  .header__tourist_map h2{
    font-size: 1.5rem;
  }

  .header__tourist_map h2 span{
    font-size: .8rem;
  }

  .header__tourist_map p{
    font-size: 1rem;
  }

  #touristMap img{
    margin-top: 1.5rem;
  }

  .container__tourist_map__content{
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }

  .container__tourist_map__content
  .container__tourist_map_desc
  .tourist_map__desc h5{
    font-size: 1rem;
  }

  /* BLOG */
  .header__blog {
    flex-direction: column;
    justify-content: normal;
    align-items: start;
  }

  .header__blog .header__blog-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .header__blog .header__blog-container h4 {
    font-size: .9rem;
  }

  .header__blog .header__blog-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .header__blog .header__blog-container h2 span {
    font-size: .8rem;
  }

  .header__blog a {
    font-size: .9rem;
  }

  .blog__gallery{
    margin-top: 1rem;
  }

  .blog__gallery .blog__gallery_grid:nth-child(1),
  .blog__gallery .blog__gallery_grid:nth-child(2){
    grid-column: span 12 / span 12;
  }

  .blog__gallery .blog__gallery_grid:nth-child(2){
    padding: 5rem 2rem;
  }

  .blog__gallery .blog__gallery_grid:nth-child(2) span{
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
  }

  .blog__gallery .blog__gallery_grid:nth-child(3) h3{
    font-size: 1.5rem;
  }

  .blog__gallery .blog__gallery_grid:nth-child(3) p{
    font-size: .9rem;
  }

  .blog__gallery .blog__gallery_grid:nth-child(3) p br{
    display: none;
  }

  .blog__gallery .blog__gallery_grid:nth-child(3) strong a{
    font-size: .9rem;
  }

  /* TESTIMONIALS */
  .header__testimonials{
    width: 100%;
    gap: .5rem;
  }

  .header__testimonials h4 {
    font-size: .9rem;
  }

  .header__testimonials h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .header__testimonials h2 span {
    font-size: .8rem;
  }

  .container__card_testimonials{
    overflow: scroll;
    scrollbar-color: transparent transparent;
    margin-top: 1.8rem;
    gap: 2rem;
  }

  .container__card_testimonials::-webkit-scrollbar{
    display: none;
  }

  .card__testimonial figcaption{
    width: 15rem;
  }

  /* FAQS */
  .header__faqs {
    flex-direction: column;
    justify-content: normal;
    align-items: start;
  }

  .header__faqs .header__faqs-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .header__faqs .header__faqs-container h4 {
    font-size: .9rem;
  }

  .header__faqs .header__faqs-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .header__faqs .header__faqs-container h2 span {
    font-size: .8rem;
  }

  .header__faqs a {
    font-size: .9rem;
  }

  .header__faqs p {
    font-size: 1rem;
  }

  .header__faqs .header__faqs-container {
    align-items: normal;
    flex-direction: column;
    gap: 1rem;
  }

  .header__faqs .header__faqs-container h2 {
    font-size: 1.5rem;
  }

  .header__faqs .header__faqs-container h2 span {
    font-size: .8rem;
  }

  .faqs__accordion_container{
    margin-top: 1rem;
  }

  .faqs__accordion_container .faq__box h6{
    font-size: 1rem;
  }

  .faqs__accordion_container .faq__box .faq__question .faq__chevron_container {
    padding: .8rem;
    width: 1.2rem;
    height: 1.2rem;
  }

  .faqs__accordion_container .faq__box .faq__question .faq__chevron_container i {
    font-size: .6rem;
  }

  /* CTA */
  .cta__container .cta__content_text {
    padding: 2rem;
  }

  .cta__container .cta__content_text h2 {
    font-size: 2rem;
  }

  .cta__container .cta__content_text h2 br{
    display: none;
  }

  .cta__container img{
    display: none;
  }
}